.matrix-container {
    display: flex;
  }

.matrix-container table {
    margin-right: 20px;
}

#calculate-btn {
    margin-top: 10px;
}

.matrix-title {
    text-align: left; /* Alinhamento à direita para o título da matriz */
    margin-top: 3px;
    margin-bottom: 0px;
  }

